language: java

cache:
  directories:
    - $HOME/.m2

before_cache:
  - rm -rf $HOME/.m2/repository/org/keycloak

env:
  global:
    - MAVEN_SKIP_RC=true
    - MAVEN_OPTS="-Xms512m -Xmx1536m"
    - THEME_VERSION=0.1
  matrix:
    - TESTS=unit
    - TESTS=server-group1
    - TESTS=server-group2
    - TESTS=server-group3
    - TESTS=server-group4
    - TESTS=adapter-tests
    - TESTS=adapter-tests-authz
    - TESTS=crossdc-server
    - TESTS=crossdc-adapter
    - TESTS=broker

jdk:
  - openjdk8

install: true

before_install:
  - "export PHANTOMJS_VERSION=2.1.1"
  - "phantomjs --version"
  - "export PATH=$PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64/bin:$PATH"
  - "phantomjs --version"
  - "if [ $(phantomjs --version) != '$PHANTOMJS_VERSION' ]; then rm -rf $PWD/travis_phantomjs; mkdir -p $PWD/travis_phantomjs; fi"
  - "if [ $(phantomjs --version) != '$PHANTOMJS_VERSION' ]; then wget https://github.com/Medium/phantomjs/releases/download/v$PHANTOMJS_VERSION/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -O $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2; fi"
  - "if [ $(phantomjs --version) != '$PHANTOMJS_VERSION' ]; then tar -xvf $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs; fi"
  - "phantomjs --version"

before_script:
  - export -f travis_fold

script: 
  - ./travis-run-tests.sh $TESTS

after_success:
  - .travis/docker-hub-master-trigger.sh

stages:
  - name: Test
  - name: Deploy
    if: tag IS present

jobs:
  include:
    - stage: Deploy
      env: # overwrite with empty
      before_install: skip
      script: skip
      after_success: false
      before_deploy:
        - ./travis-build-server.sh
        - export KEYCLOAK_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        - echo "Prepare deployment of keycloak-$KEYCLOAK_VERSION"
        - ./add-alfresco-theme.sh
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN
        file: "distribution/server-dist/target/keycloak-$TRAVIS_TAG.zip"
        skip_cleanup: true
        edge: true
        on:
          tags: true
          repo: Alfresco/keycloak

sudo: false
